numpy
pandas
sklearn
gensim
mecab-python3
django
beautifulsoup4
matplotlib
psycopg2
#slackbot


celery[redis]
django-model-utils
django-webpack-loader
django-js-reverse
django-import-export
python-decouple
brotlipy
django-log-request-id
dj-database-url
gunicorn
whitenoise
psutil
ipython
sentry-sdk


#dev用
bandit
black
coverage
django-naomi
isort
model-mommy # It will be replace by model-bakery
pre-commit
prospector[with-vulture]
safety
